<form ng-submit="saveReport()">
  <div class="form-group">
    <label for="companyName">Company Name</label>
    <input ng-model="report.companyName" type="text" class="form-control" id="companyName" placeholder="Legal Name">
  </div>
  <div class="form-group">
    <label for="mailingAddress">Mailing Address</label>
    <input ng-model="report.mailingAddress" type="text" class="form-control" id="mailingAddress" placeholder="">
  </div>
  <div class="form-group">
    <label for="ceoOwner">CEO/Owner</label>
    <input ng-model="report.ceoOwner" type="text" class="form-control" id="ceoOwner" placeholder="">
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input ng-model="report.phone" type="text" class="form-control" id="phone" placeholder="">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input ng-model="report.email" type="text" class="form-control" id="email" placeholder="example@company.com">
  </div>
  <div class="form-group">
    <label for="nacisCode">NACIS Code</label>
    <input ng-model="report.nacisCode" type="text" class="form-control" id="nacisCode" placeholder="">
  </div>
  <div class="form-group">
    <label for="companyDescription">Company Description</label>
    <textarea ng-model="report.companyDescription" type="text" class="form-control" rows="5" id="companyDescription" placeholder=""></textarea>
  </div>
  <br>
  <button type="submit" class="btn btn-success">Submit Report</button>
</form>