<div class="container">

  <div class="jumbotron">
    <img src="img/COM-Volz.jpg" alt="Dave Volz" class="img-circle">
    <h1>Dave's Excellent Reporting Tool</h1>
    <p class="lead">Funding Wisconsin's Top Entrepreneurs &amp; Companies</p>
    <button type="button" class="btn btn-primary btn-lg">Complete Your Report</button>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4><i class="fa fa-calendar-o"></i> Auto Reminders</h4>
      <p>Never miss a report deadline with auto reminders set for your specific contracts.</p>

      <h4><i class="fa fa-rss"></i> Mass Assignment</h4>
      <p>Send a single report to multiple startups to collect relevant and required information for timely reporting.</p>

      <h4><i class="fa fa-recycle"></i> No Paperwork</h4>
      <p>Simple forms and form builders allow you to reduce paperwork and stay organized.</p>
    </div>

    <div class="col-lg-6">
      <h4><i class="fa fa-area-chart"></i> Track Metrics</h4>
      <p>Track key metrics in a signle dashboard for easy reporting and real-time analytics.</p>

      <h4><i class="fa fa-cloud-download"></i> File Uploads</h4>
      <p>Collect relevant documents from startups and accelerator programs in a single location.</p>

      <h4><i class="fa fa-pencil-square-o"></i> Easy Updates</h4>
      <p>Create your profile to manage and update changes in a single location.</p>
    </div>
  </div>

</div><!-- /.container -->